<!DOCTYPE html>
<html>

<head>
	<title>Welcome to MEttLE</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- To use bootstrap for styling -->

	<link rel="stylesheet" href="/stylesheets/custom/migrated.css">
<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
	
	 <script src="/javascripts/vendor/go.js"></script>
   <script src="/javascripts/vendor/Buttons.js"></script>
   <script src="/javascripts/vendor/jquery-2.2.1.min.js"></script>
</head>

<body>


	<section class="middlepart">
		<div class="top-section">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3" style="text-align: center; vertical-align: middle">
					<p>MEttLE</p>
				</div>
				<div class="col-sm-1 col-sm-offset-2" style="text-align:center; vertical-align: middle"> <a href="/logout">
					<button id="problem1quantmodel_logout" type="button" class="btn btn-default" style="margin-top: 0px">Logout</button></a>
				</div>
			</div>
		</div>
		<div class="register" style="height: 46%;">
			<div class="info">
				<p>Today you will learn about engineering estimation and how to solve estimation problems </div>
			</p>
		</div>
		<div class="container-fluid" style="height: 100%;">
			
			<div class="row">
				<div class="col-md-6 col-md-offset-3" align="justify">
					<ul >
						<li>Estimation is the process of determining approximate values
						(say, to the right order of magnitude) for a physical quantity in a
						physical system without complete information and knowledge of the context.
						</li> <br>
						<li>
							Estimation is often done as a first step in design, to establish the feasibility of an idea
							or to evaluate if a component can be used in the design.

						</li> <br>
						<li>
							The emphasis in estimation is on “speed” and “reasonableness”. In other words,
							we would rather have an approximate number quickly rather than do elaborate
							time-consuming calculations to get the exact number because approximate numbers
							are sufficient to make decisions and move forward in the design process. A good way
							to get a useful estimate is to consider the “worst case” scenario and find the
							maximum value for a parameter. So think about what is the worst case scenario and
							when is the parameter value likely to be the highest.

						</li> <br>
						<li>
							Practicing engineers often make such estimates on the job for many quantities
							such as power required, time required, speed attainable, weight of an object, etc.
							When you graduate and begin working you will be required to make such estimates on the job. 
						</li> <br>
						<li> 
						In addition to being able to estimate quantities, you must be able to evaluate if the
						value for a physical quantity “makes sense” or is reasonable in the given context.

						</li> <br>
					</ul>
					<div class="row" style="text-align:center">
						<a href="session"><button id="intro_continue" type="button" class="btn btn-primary">Continue</button> </a> 
					</div>
				</div>
			</div>
		</div>
		
	</section>

	<script src="/socket.io/socket.io.js"></script>
	<script>
	
		/*var socket = io('http://localhost:8080');
            socket.on('greeting-from-server', function (message) {
                document.body.appendChild(
                    document.createTextNode(message.greeting)
                );
                socket.emit('greeting-from-client', {
                    greeting: 'Hello Server'
                });
            });*/


		function logRecordAndJump(urlString){
	$.post("/api/problem/log", {pageID: window.location.pathname, value: urlString })
          .done(function(data) {
            if (data.includes("success")) {
              //console.log("Data saved ");
			  window.open(urlString, target = "_self");
            }
            else {
              //console.log("Please try again ");
            }
          });
}

function logRecordAndOpen(urlString){
	$.post("/api/problem/log", {pageID: window.location.pathname, value: urlString })
          .done(function(data) {
            if (data.includes("success")) {
              //console.log("Data saved ");
			  window.open(urlString, target = "_blank");
            }
            else {
              //console.log("Please try again ");
            }
          });
}


function logRecord(urlString){
	$.post("/api/problem/log", {pageID: window.location.pathname, value: urlString })
          .done(function(data) {
            if (data.includes("success")) {
              //console.log("Data saved ");
            }
            else {
              //console.log("Please try again ");
            }
          });
} 
	</script>

	<script src="/javascripts/vendor/jquery-2.2.1.min.js"></script>
	<script src="/javascripts/vendor/bootstrap.min.js"></script>
</body>

</html>
