<!DOCTYPE html>
<html>

<head>
	<title>Welcome to MEttLE</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- To use bootstrap for styling -->

	<link rel="stylesheet" href="/stylesheets/custom/migrated.css">
<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<script src="/javascripts/angular/angular.min.js"></script>
	<script src="/javascripts/angular/angular-animate.min.js"></script>
	<script src="/javascripts/angular/angular-aria.min.js"></script>
	<script src="/javascripts/angular/angular-messages.min.js"></script>
	<script src="/javascripts/angular/angular-material.min.js"></script>
	<script src="/javascripts/angular/md-data-table.min.js"></script>
	<script src="/javascripts/angular/angular-validator.min.js"></script>
	
	 <script src="/javascripts/vendor/go.js"></script>
   <script src="/javascripts/vendor/Buttons.js"></script>
   <script src="/javascripts/vendor/jquery-2.2.1.min.js"></script>
	<!-- <link rel="stylesheet" href="/stylesheets/introjs.css"> -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> -->
</head>

<body style="height: 100%;">


	<section class="middlepart">
		<div class="top-section">
			<div class="container">
				<div class="row">
					<div class="col-sm-4"></div>
					<div class="col-sm-4" style="text-align:center;vertical-align:middle;height:auto;" display:"flex">
						<p>MEttLE</p>
					</div>
					<!--<div class="col-sm-1" style="text-align:center;vertical-align:middle">-->
					<!--	<a href="../../simulator" target="_blank"><input id="problem1quantmodel_sim" type="image" src="/images/simulator.png" style="width:110px;height:67px;"/></a>-->
					<!--</div>-->
					<!--<div class="col-sm-1" style="text-align:center;vertical-align:middle">-->
					<!--	<a href="../../calculator" target="_blank"><input id="problem1quantmodel_calc" type="image" src="/images/calc.png" style="width:110px;height:67px;"/></a>-->
					<!--</div>-->
					<!--<div class="col-sm-1" style="text-align:center;vertical-align:middle">-->
					<!--	<a href="../../information" target="_blank"><input id="problem1quantmodel_info" type="image" src="/images/info.png" style="width:110px;height:67px;"/></a>-->
					<!--</div>-->
					<!--<div class="col-sm-1" style="text-align:center;vertical-align:middle">-->
					<!--	<a href="../../scratch" target="_blank"><input  id="problem1quantmodel_scribble"type="image" src="/images/scribble.png" style="width:110px;height:67px;"/></a>-->
					<!--</div>-->
					<!--<div class="col-sm-1" style="text-align:center;vertical-align:middle">-->
					<!--	<a href="map" target="_blank"><input id="problem1quantmodel_map" type="image" src="/images/map.png" style="width:110px;height:67px;"/></a>-->
					<!--</div>-->
					<!-- In the above 12 lines images are being used for the various options and they are made to look like buttons and the anchor tag is added to load the appropriate pages-->
					<div class="col-sm-1 col-sm-offset-2" style="text-align:center"> <a href="/logout"><button id="problem1quantmodel_logout" type="button" class="btn btn-default">Logout</button></a></div>
				</div>
			<!--<div class="row">-->
			<!--	<div class="col-sm-4" style="float:right">-->
			<!--		<a data-toggle="modal" ng-click="showoption()" href="#ui_modal_new_session">Start solving problem</a> |-->
			<!--		<a href="/history/list/1">Previous Solved Problems</a> | <a href="#">Account</a>-->
			<!--	</div>-->
			<!--</div>-->
			</div>
		</div>
		<div class="register" style="height: 46%;">
			<div class="info">
				<p> Two different roles </div>
			</p>
		</div>
		<div class="container-fluid" style="height: 100%;">
			<div class="row" style="padding-top:30px">
				<div class="col-md-3"></div>
				<div class="col-md-6" >
					<p style="text-align:center; font-weight:bold; font-size:larger"> DRIVER </p>
					<div class="col-md-6" style="text-align:center; margin: auto; padding:0px; height:100%">
						<img src="/images/steering-wheel.png" style="vertical-align:middle; max-height:80px; margin: auto"/>
					</div>
					<div class="col-md-6" style="padding:0px">
						<p style="text-align: justify;"> The driver is the one that can interact with the page:
						enter text, click on buttons and submit the answers. The purpose of the driver is to listen 
						and share ideas with the navigator.
						</p>
					</div>
				</div>
			</div>
					
			<div class="row" style="padding-top:30px">
				<div class="col-md-3"></div>
				<div class="col-md-6 ">
					<p style="text-align:center; font-weight:bold; font-size:larger;"> NAVIGATOR </p>
					<div class="col-md-6" style="padding :0px">
						<p style="text-align: justify;"> The navigator is the one that will help the driver 
						navigate through the exercise, sharing ideas and opinions. He cannot interact directly 
						with the page and need the help of the driver for this.
						</p>
					</div>
				
					<div class="col-md-6" style="text-align:center; vertical-align:middle; padding:0px; height:100%">
						<img src="/images/navigator-compass.png" style="max-height:80px;"/>
					</div>
				</div>
			</div>

			<div class="row" style="padding-top:30px">
				<div class="col-md-3"></div>
				<div class="col-md-6 ">
					<p style="text-align: justify;"> To know which role is assigned to you, check the icon on the top left part of the page after commencing a session. The steering wheel will indicate
						that you are the Driver, and the compass will indicate that you are the Navigator. Keep in mind that roles swap when you visit new pages, and revert 
						when you come back to previously visited pages. </p>
				</div>
			</div>


			<div class="row" style="text-align:center; padding-top:30px">
            <a href="/problem/1/structure"><button id="roles_continue" type="button" class="btn btn-primary" onClick="sel_rolesContinue()">Continue</button></a>
          </div>	
		</div>

		
	</section>

	

	<script>


	function sel_rolesContinue(){
  	logRecord("Roles continue to problem");
  }

		function logRecordAndJump(urlString){
	$.post("/api/problem/log", {pageID: window.location.pathname, value: urlString })
          .done(function(data) {
            if (data.includes("success")) {
              //console.log("Data saved ");
			  window.open(urlString, target = "_self");
            }
            else {
              //console.log("Please try again ");
            }
          });
}

function logRecordAndOpen(urlString){
	$.post("/api/problem/log", {pageID: window.location.pathname, value: urlString })
          .done(function(data) {
            if (data.includes("success")) {
              //console.log("Data saved ");
			  window.open(urlString, target = "_blank");
            }
            else {
              //console.log("Please try again ");
            }
          });
}


function logRecord(urlString){
	$.post("/api/problem/log", {pageID: window.location.pathname, value: urlString })
          .done(function(data) {
            if (data.includes("success")) {
              //console.log("Data saved ");
            }
            else {
              //console.log("Please try again ");
            }
          });
} 
	</script>

	<script src="/javascripts/vendor/jquery-2.2.1.min.js"></script>
	<script src="/javascripts/vendor/bootstrap.min.js"></script>
</body>

</html>
