<!DOCTYPE html>
<html>
<head>
	<title>Simulator - MEttLE</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="javascripts/vendor/js/plotly-latest.min.js"></script>
	<script src="/javascripts/vendor/jquery-2.2.1.min.js"></script>
	<!-- <link rel="stylesheet" type="text/css" href="./css/style_others.css"> -->
	<link rel="stylesheet" href="stylesheets/css/style-2.css">
	<style type="text/css">
		.modebar {
			display:none;
		}
		.layer-below, .ternarylayer, .layer-above, .groups{
		display:nogne;
		}
		
		#motorSpec td,th{
			text-align: center;
			padding: 0;
		}
	</style>
	<!-- Constants -->
	<script type="text/javascript">
		var mass=7;//Kg
		var radius=0.05;//Metre
		var I = [];
		var V = [];
		var T = [];
		var AC = [];
		var AV = [];
		var LV = [];
		var PI = [];
		var PO = [];
		var Kv=0.012;
		var Rm=0.022;
		var I0=1.91;
		var w=205;
		var Ic=10;
		var Vc=3;
		var Tc=0;
		var AVc=0;
		var LVc=0
		var ACc=0;
		var PIc=0;
		var POc=0;
		var kvLabel = [];
		var motorSpecs = [
		[0.0422,	0.0244,	2.27,	86],
[0.038,	0.038,	1.48,	83],
[0.023,	0.043,	1.81,	82],
[0.016,	0.030,	1.71,	84],
[0.006,	0.0135,	3.26,	88]
];
		var motorID = 0;
		var maxAV = 3571;
		var minAV = 250;
		var maxMotorTP = 349;//Time Period: Decrease this to avoid "Tick-Tick" Rotation effectIllusion
		var minMotorTP = 5;//Time Period: Increase this to avoid Reverse Rotations 
	</script>
</head>

<body>
<section id="middle-part">
<div class="top-section">
		<div class="row">
        <div class="col-sm-6" style="text-align:center;vertical-align:middle"> <p>MEttLE</p>  </div>
	  <div class="col-sm-1" style="text-align:center;vertical-align:middle">
			  <image id="problem1simulator1_sim" type="image" src="/images/simulatoractive.png" style="width:110px;height:67px;"/>
			  </div>
	   		  
	  <g onclick="sendInformationLog()"> 
      <div class="col-sm-1" style="text-align:center;vertical-align:middle">
        <input id="problem1simulator1_info" type="image" src="/images/info.png" style="width:110px;height:67px;"/>
      </div>
	    </g> 
		
	  <g onclick="sendScratchLog()"> 
      <div class="col-sm-1" style="text-align:center;vertical-align:middle">
       <input  id="problem1simulator1_scribble"type="image" src="/images/scribble.png" style="width:110px;height:67px;"/>
      </div>
	    </g> 
		
	  <g onclick="sendProblemMapLog()"> 
      <div class="col-sm-1" style="text-align:center;vertical-align:middle">
        <input id="problem1simulator1_map" type="image" src="/images/map.png" style="width:110px;height:67px;"/>
      </div>
	    </g> 
	
      <div class="col-sm-1" style="text-align:center"> <button id="problem1simulator1_logout" style="margin-top: 8px;height: 50px;" type="button" class="btn btn-default" onclick="sel_logout()">Logout</button></div>
    </div>
  </div>
	

	<div class="register">
	<div class="info" style="height:40px">
	<div class="row" style="text-align:center">
	<div class="col-lg-8">
	<p> Relationship between power required by the car and power supplied by the motor. </p> </div>
	<div class="col-lg-4"><div class="popup"> <button id="problem1simulator4_guide" onClick="showhint()" type="button" class="btn btn-primary">Guide Me</button>
  <span class="popuptext" id="problem1simulator4_hints"> Vary the current, voltage and motor constant one by one and observe the difference between the electrical power and mechanical power. <br> This difference is due to the losses in the motor and is given by the parameter of motor efficiency. <br> Think of how the efficiency affects your estimate of electric power. Write an equation relating electrical power, mechanical power and motor efficiency.  </span>
</div> </div>
	 </div></div>
	<div class="col-lg-12">
	<div class="col-sm-4">
				<img id="frame1" src="images/img_copy\000.png" width="300">
			<div class="col-sm-12" style="margin-top:10px">
				<div class="col-sm-6" align="center">
					<input type="range" id="activity4_currentRange" value="0" onChange="currentChanged(this.value);" min=10 max=30></input><span id="activity4_currentLabel"> current = <script type="text/javascript"> document.write(Ic);</script></span>
				</div>
				<div class="col-sm-6" align="center">
					<input type="range" id="activity4_voltageRange" value="0" onChange="voltageChanged(this.value);" min=3 max=15></input><span id="activity4_voltageLabel"> voltage = <script type="text/javascript"> document.write(Vc);</script></span>
				</div>
			</div>
			<div class="col-sm-12 subtask_text">
			Select a set of motor specification:
				<table class="table" id="activity4_motorSpec" style="background:#eee;">
					<thead>
						<tr style="align: center; font-size: 5-small;">
							<th style="vertical-align: middle;">Select</th>
							<th>MotorConst. (K<sub>v</sub>)</th>
							<th>Motor efficiency </th>
							<!-- <th>Weight of Motor (W)</th> -->
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input id="option_zero" type="radio" value=0 name="specRadio" onChange="changeMotor(this.value); sel_zero() " checked></td>
							<td><script type="text/javascript"> document.write(motorSpecs[0][0]);</script></td>
							<td><script type="text/javascript"> document.write(motorSpecs[0][3]);</script></td>
						</tr>
						<tr>
							<td><input id="option_one" type="radio" value=1 name="specRadio" onChange="changeMotor(this.value);sel_one()"></td>
							<td><script type="text/javascript"> document.write(motorSpecs[1][0]);</script></td>
							<td><script type="text/javascript"> document.write(motorSpecs[1][3]);</script></td>
						</tr>
						<tr>
							<td><input id="option_two" type="radio" value=2 name="specRadio" onChange="changeMotor(this.value);sel_two()"></td>
							<td><script type="text/javascript"> document.write(motorSpecs[2][0]);</script></td>
							<td><script type="text/javascript"> document.write(motorSpecs[2][3]);</script></td>
</tr>
						<tr>
							<td><input id="option_three" type="radio" value=3 name="specRadio" onChange="changeMotor(this.value);sel_three()"></td>
							<td><script type="text/javascript"> document.write(motorSpecs[3][0]);</script></td>
							<td><script type="text/javascript"> document.write(motorSpecs[3][3]);</script></td>
</tr>
						<tr>
							<td><input id="option_four" type="radio" value=4 name="specRadio" onChange="changeMotor(this.value);sel_four()"></td>
							<td><script type="text/javascript"> document.write(motorSpecs[4][0]);</script></td>
							<td><script type="text/javascript"> document.write(motorSpecs[4][3]);</script></td>
</tr>
					</tbody>
				</table> 
	</div>
	</div>
	<div class="col-lg-8">
	<div class="row">
	<div class="col-lg-6">
 		<div id="activity4_myDiv0" style="width: 400px; height: 350px; margin-left:0px"><!-- Plotly chart will be drawn inside this DIV --></div>		
 	</div>
	<div class="col-lg-6">
		<div id="activity4_myDiv1" style="width: 400px; height: 350px; margin-left:0px;"><!-- Plotly chart will be drawn inside this DIV --></div>
 	</div></div>
	<div class="row" style="margin-top:10px">
	<img src="images/img_copy\legends3.png" width="700"></img>
	</div>
	<div class = "row" style="text-align: center; margin-top:25px;">  <a href="screen3" class="previous"> <button type="button" onClick="openTwopage()" class="btn btn-info"> &#60; Relationship between various parameters and power required </button> </a>  </div>
	</div>
	</div>
	</section>

<script type="text/javascript">
// function currentChanged(speedLevel)
	function currentChanged(level)
	{
		Ic=level;
		document.getElementById('activity4_currentLabel').innerHTML="current = "+Ic;
		rePlot();
		logRecord("activity4_currentLabel_"+Ic)
	}

// function voltageChanged(speedLevel)
	function voltageChanged(level)
	{
		Vc=level;
		document.getElementById('activity4_voltageLabel').innerHTML="voltage = "+Vc;
		rePlot();
		logRecord("activity4_voltageLabel_"+Vc)
	}

	function rePlot()
	{
		// alert("Jai Shree Ram!"+Ic);

		//Calculating Environment values
		Tc=(Ic-motorSpecs[motorID][2])*(motorSpecs[motorID][0]);
		ACc=Tc/(mass*radius);
		AVc=(Vc-Ic*motorSpecs[motorID][1])/motorSpecs[motorID][0];
		LVc=(AVc)*(radius);
		PIc=Vc*Ic;
		POc=Tc*AVc;
		I.push(Ic);
		V.push(Vc);
		T.push(Tc);
		AC.push(ACc);
		AV.push(AVc);
		LV.push(LVc);
		PI.push(PIc);
		PO.push(POc);
		//****
		kvLabel.push("kv="+motorSpecs[motorID][0]);
		//**************************

		//Plotting I 
		trace01.x=[Ic];
		trace01.y=[PIc];
		trace01.text="kv="+motorSpecs[motorID][0];
		trace02.x=I;
		trace02.y=PI;
		trace02.text=kvLabel;
		trace03.x=[Ic];
		trace03.y=[POc];
		trace03.text="kv="+motorSpecs[motorID][0];
		trace04.x=I;
		trace04.y=PO;
		trace04.text=kvLabel;
		Plotly.newPlot('activity4_myDiv0', data0, layout0);

			
		//Plotting V 
		trace11.x=[Vc];
		trace11.y=[PIc];
		trace11.text="kv="+motorSpecs[motorID][0];
		trace12.x=V;
		trace12.y=PI;
		trace12.text=kvLabel;
		trace13.x=[Vc];
		trace13.y=[POc];
		trace13.text="kv="+motorSpecs[motorID][0];
		trace14.x=V;
		trace14.y=PO;
		trace14.text=kvLabel;
		Plotly.newPlot('activity4_myDiv1', data1, layout1);	
	
	}
	</script>


	<script type="text/javascript">

//trace01, trace02, data0, layout0 @Plot0_IxT ********
var trace01 = {
	x: [],//1, 2, 3, 4, 5],
	y: [],//1, 6, 3, 6, 1],
	mode: 'markers',
	type: 'scatter',
	name: 'Latest input power',
	text: [],
	marker: { size: 7, color:'rgb(252,141,89)'}
	};
var trace02 = {
  	x: [],//x: [1.5, 2.5, 3.5, 4.5, 5.5],
  	y: [],//[4, 1, 7, 1, 4],
  	mode: 'markers',
  	type: 'scatter',
  	name: 'Previous input power',
  	text: [],
  	marker: { size: 7, color:'rgb(0,0,0}'}
	};
var trace03 = {
	x: [],//1, 2, 3, 4, 5],
	y: [],//1, 6, 3, 6, 1],
	mode: 'markers',
	type: 'scatter',
	name: 'Latest output power',
	text: [],
	marker: { size: 7, color:'rgb(252,141,89)', symbol: "square" }
	};
var trace04 = {
  	x: [],//x: [1.5, 2.5, 3.5, 4.5, 5.5],
  	y: [],//[4, 1, 7, 1, 4],
  	mode: 'markers',
  	type: 'scatter',
  	name: 'Previous output power',
  	text: [],
  	marker: { size: 7, color:'rgb(0,0,0)', symbol: "square" }
	};
var data0 = [ trace02, trace01, trace04, trace03 ];
var layout0 = { 
height: 350,
  width: 400,
  margin: {
    l: 50,
    r: 0,
    b: 40,
    t: 50,
    pad: 10
  },
	xaxis: {
		range: [ 9,31 ],
		title: 'Current (I)'		
	},
	yaxis: {
		range: [0, 600],
		title: 'Power (W)'
	},
	showlegend: false,
  hovermode: 'closest'
};
//*******************************************************

//trace11, trace12, data1, layout1 @Plot1_IxAcc ********
var trace11 = {
	x: [],//1, 2, 3, 4, 5],
	y: [],//1, 6, 3, 6, 1],
	mode: 'markers',
	type: 'scatter',
	name: 'Latest input power',
	text: [],
	marker: { size: 7, color: 'rgb(252,141,89)' }
	};

var trace12 = {
  	x: [],//x: [1.5, 2.5, 3.5, 4.5, 5.5],
  	y: [],//[4, 1, 7, 1, 4],
  	mode: 'markers',
  	type: 'scatter',
  	name: 'Previous input power',
  	text: [],
  	marker: { size: 7, color:'rgb(0,0,0)'}
	};

var trace13 = {
	x: [],//1, 2, 3, 4, 5],
	y: [],//1, 6, 3, 6, 1],
	mode: 'markers',
	type: 'scatter',
	name: 'Latest output power',
	text: [],
	marker: { size: 7,
		color: 'rgb(252,141,89)', symbol: "square" }
	};

var trace14 = {
  	x: [],//x: [1.5, 2.5, 3.5, 4.5, 5.5],
  	y: [],//[4, 1, 7, 1, 4],
  	mode: 'markers',
  	type: 'scatter',
  	name: 'Previous output power',
  	text: [],
  	marker: { size: 7, color: 'rgb(0,0,0)', symbol: "square"}
	};

var data1 = [ trace12, trace11, trace14, trace13];

var layout1 = {
height: 350,
  width: 400,
  margin: {
    l: 50,
    r: 0,
    b: 40,
    t: 50,
    pad: 10
  }, 
	xaxis: {
		range: [ 2, 16 ],
		title: 'Voltage (V)'	
	},
	yaxis: {
		range: [0, 600],
		title: 'Power (W)'
	},
	showlegend: false,
  hovermode: 'closest'
};
//*******************************************************
Plotly.newPlot('activity4_myDiv0', data0, layout0);
Plotly.newPlot('activity4_myDiv1', data1, layout1);

</script>

<!-- Changing Motor Specifications -->
<script type="text/javascript">
	function changeMotor(motorid)
	{
		motorID=motorid;
		rePlot();
	}
</script>
<script type="text/javascript">
	rePlot();
</script>
<script>
var windows=[];
var bc = new BroadcastChannel('logoff_channel');

window.onbeforeunload = function(){
	for(var i = 0; i < windows.length; i++){
    windows[i].close()
  }
}
// When the user clicks on div, open the popup
function showhint() {
    var popup = document.getElementById("problem1simulator4_hints");
    popup.classList.toggle("show");
	logRecord("problem1simulator4_hints");
}

function sel_zero()
{
	logRecord("option_zero");
}

function sel_one()
{
	logRecord("option_one");
}
function sel_two()
{
	logRecord("option_two");
}
function sel_three()
{
	logRecord("option_three");
}
function sel_four()
{
	logRecord("option_four");
}


function openTwopage(){

	logRecordAndJump("/screen3");
}

function sendInformationLog(){
  windows.push(window.open("/information", '_blank'));
  logRecord('/Information')
}

function sendScratchLog(){
  windows.push(window.open("/problem/1/scribble", '_blank'));
  logRecord('/scribble')
}

function sendProblemMapLog(){
  windows.push(window.open("/aboutproblem", '_blank'));
  logRecord('/Problem_Map')
}

function sel_logout(){
  bc.postMessage('logoff'); 
  for(var i = 0; i < windows.length; i++){
    windows[i].close()
  }
  logRecord('/Logout');
  window.open("/logout", '_self');
}

  
function logRecordAndJump(urlString){
	$.post("/api/problem/log", {pageID: window.location.pathname, value: urlString })
          .done(function(data) {
            if (data.includes("success")) {
              //console.log("Data saved ");
			  window.open(urlString, target = "_self");
            }
            else {
              //console.log("Please try again ");
            }
          });
}

function logRecordAndOpen(urlString){
	$.post("/api/problem/log", {pageID: window.location.pathname, value: urlString })
          .done(function(data) {
            if (data.includes("success")) {
              //console.log("Data saved ");
			  window.open(urlString, target = "_blank");
            }
            else {
              //console.log("Please try again ");
            }
          });
}

function logRecord(urlString){
	$.post("/api/problem/log", {pageID: window.location.pathname, value: urlString })
          .done(function(data) {
            if (data.includes("success")) {
              //console.log("Data saved ");
            }
            else {
              //console.log("Please try again ");
            }
          });
} 
</script>
</html>

