<!DOCTYPE html>
<html>

<head>
	<title>Welcome to MEttLE</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- To use bootstrap for styling -->

	<link rel="stylesheet" href="/stylesheets/custom/migrated.css">
<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<script src="/javascripts/angular/angular.min.js"></script>
	<script src="/javascripts/angular/angular-animate.min.js"></script>
	<script src="/javascripts/angular/angular-aria.min.js"></script>
	<script src="/javascripts/angular/angular-messages.min.js"></script>
	<script src="/javascripts/angular/angular-material.min.js"></script>
	<script src="/javascripts/angular/md-data-table.min.js"></script>
	<script src="/javascripts/angular/angular-validator.min.js"></script>
	
	 <script src="/javascripts/vendor/go.js"></script>
   <script src="/javascripts/vendor/Buttons.js"></script>
   <script src="/javascripts/vendor/jquery-2.2.1.min.js"></script>
	<!-- <link rel="stylesheet" href="/stylesheets/introjs.css"> -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> -->
</head>

<body style="height: 100%;" ng-app="myApp" ng-controller="MyController" ng-cloak>


	<section class="middlepart">
		<div class="top-section">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3" style="text-align: center; vertical-align: middle">
					<p>MEttLE</p>
				</div>
				<!--<div class="col-sm-1" style="text-align:center;vertical-align:middle">-->
				<!--	<a href="../../simulator" target="_blank"><input id="problem1quantmodel_sim" type="image" src="/images/simulator.png" style="width:110px;height:67px;"/></a>-->
				<!--</div>-->
				<!--<div class="col-sm-1" style="text-align:center;vertical-align:middle">-->
				<!--	<a href="../../calculator" target="_blank"><input id="problem1quantmodel_calc" type="image" src="/images/calc.png" style="width:110px;height:67px;"/></a>-->
				<!--</div>-->
				<!--<div class="col-sm-1" style="text-align:center;vertical-align:middle">-->
				<!--	<a href="../../information" target="_blank"><input id="problem1quantmodel_info" type="image" src="/images/info.png" style="width:110px;height:67px;"/></a>-->
				<!--</div>-->
				<!--<div class="col-sm-1" style="text-align:center;vertical-align:middle">-->
				<!--	<a href="../../scratch" target="_blank"><input  id="problem1quantmodel_scribble"type="image" src="/images/scribble.png" style="width:110px;height:67px;"/></a>-->
				<!--</div>-->
				<!--<div class="col-sm-1" style="text-align:center;vertical-align:middle">-->
				<!--	<a href="map" target="_blank"><input id="problem1quantmodel_map" type="image" src="/images/map.png" style="width:110px;height:67px;"/></a>-->
				<!--</div>-->
				<!-- In the above 12 lines images are being used for the various options and they are made to look like buttons and the anchor tag is added to load the appropriate pages-->
				<div class="col-sm-1 col-sm-offset-2" style="text-align:center; vertical-align: middle"> <a href="/logout"><button id="problem1quantmodel_logout" type="button" class="btn btn-default" style="margin-top: 0px">Logout</button></a></div>
			</div>
			<!--<div class="row">-->
			<!--	<div class="col-sm-4" style="float:right">-->
			<!--		<a data-toggle="modal" ng-click="showoption()" href="#ui_modal_new_session">Start solving problem</a> |-->
			<!--		<a href="/history/list/1">Previous Solved Problems</a> | <a href="#">Account</a>-->
			<!--	</div>-->
			<!--</div>-->
		</div>
		<div class="register" style="height: 46%;">
			<div class="info">
				<p> Let's start! </div>
			</p>
		</div>
		<div class="container-fluid" style="height: 100%;">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4" >
					<div class="alert alert-danger" role="alert" id="groupExist">
						<p style="text-align: center;">GROUP ALREADY EXISTS!</p>
						<p style="text-align: center;">Please enter the group number you've been given, or continue a previous session with the "Your previously solved problems" button below</p>
					</div>

					<div class="alert alert-success" role="alert" id="groupAlreadyCreated">
						<p style="text-align: center;">GROUP ALREADY CREATED!</p>
						<p style="text-align: center;">You already created this group, you can continue the session by clicking the "Your previously solved problems" below</p>
					</div>

					<div class="alert alert-success" role="alert" id="groupWaiting">
						<p style="text-align: center;">GROUP IN WAITING!</p>
						<p style="text-align: center;">You already created this group, but you have to wait for someone else to join, try again later</p>
					</div>

					<form name="session-form" id="session_details" action="session/data" method="post">
						<input type="text" class="login-field" value="" name="group" placeholder="Enter the group you want to create/join" id="group" style="margin-bottom: 10px; text-align: center; min-width: 100%; height:35px;">
						
						<a 	class="btn btn-primary btn-large btn-block"
							style="	border: 2px solid transparent; background: #D0CEBA; color: #ffffff; font-size: 16px;
									line-height: 25px; padding: 5px; text-decoration: none; text-shadow: none;
									border-radius: 3px; box-shadow: none; transition: 0.25s; display: block;
									max-width: 100%; margin: 0 auto;" 
							onmouseover="this.style.background='#2980B9'"
							onmouseout="this.style.background='#D0CEBA'"
							onClick="document.forms['session-form'].submit()">Commence session
						</a>
					</form>
					<table width="100%">
						<tr>
							<td><hr/></td>
							<td style="width:1px; padding: 0 10px;">or</td>
							<td><hr/></td>
						</tr>
					</table>
					<a class="btn btn-primary btn-large btn-block" 
						style="border: 2px solid transparent;; color: #ffffff; font-size: 16px;
									line-height: 25px; padding: 5px; text-decoration: none; text-shadow: none;
									border-radius: 3px; box-shadow: none; transition: 0.25s; display: block;
									max-width: 100%; margin: 0 auto;"
						onClick="sel_prevProb()"
						href="/history/list/1">Your previously solved problems</a> 

					</div>	

					
			</div>
		</div>
		
	</section>

	<div aria-hidden="true" class="modal fade" id="ui_modal_new_session" role="dialog" tabindex="-1" style="display: none;">
		<form name="session-form0" id="session_details" action="session/data" method="post">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-heading">
						<a class="modal-close" data-dismiss="modal" ng-click="clearform()" style="float:right" size="8px">×</a>
						<h2 class="modal-title">Attempt Title</h2>
					</div>
					<div class="modal-inner">
						{{#if errorOccured}}
						<div class="alert alert-danger">
							{{#each errors}}
							<span style="display: block;">
                              <strong>Error!</strong> {{this}}.
                            </span> {{/each}}
						</div>
						{{/if}}
						<div class="control-group">
							<input type="text" class="login-field" value="" name="title" placeholder="Enter Title for attempt" id="title">
							<label class="login-field-icon fui-user" for="title"></label>
						</div>

					</div>
					<div class="modal-footer">
						<button class="btn btn-green waves-attach waves-effect" value="submit" name="Submit" ng-click="updateForm()">Submit</button> &nbsp;&nbsp;&nbsp; <a class="btn btn-red waves-attach waves-light waves-effect" onClick="#">Clear</a>
					</div>
				</div>
			</div>
		</form>
	</div>

	<script>
		$('#groupExist').hide();
		$('#groupAlreadyCreated').hide();
		$('#groupWaiting').hide();
		
		$(document).ready(function() {
			if (window.location.href.indexOf("group_exist") > -1) {
				$('#groupExist').show();
			} 
  		});
		$(document).ready(function() {
			if (window.location.href.indexOf("group_already_created") > -1) {
				$('#groupAlreadyCreated').show();
			} 
  		});
		  $(document).ready(function() {
			if (window.location.href.indexOf("group_waiting") > -1) {
				$('#groupWaiting').show();
			} 
  		});


		var app = angular.module('myApp', ['ngMaterial', 'ngMessages', 'angularValidator']).controller(
			'MyController', MyController);

		// $("#problem").click(function)

		app.directive('myDirective', function() {
			return {
				require: 'ngModel',
				link: function(scope, element, attr, mCtrl) {
					function myValidation(value) {
						if (value.indexOf("e") > -1) {
							mCtrl.$setValidity('charE', true);
						}
						else {
							mCtrl.$setValidity('charE', false);
						}
						return value;
					}
					mCtrl.$parsers.push(myValidatiuserIDon);
				}
			};
		});


		function MyController($scope, $http) {
			// 	$scope.deleteitm='';
			// 	$scope.integerval = '/^\d*$/';
			// 	$scope.getDataFromServer = function() {
			// 		$http({
			// 			method : 'GET',
			// 			url : 'session/data'
			// 		}).success(function(data, status, headers, config) {
			// 			$scope.artfs = data;
			// 		}).error(function(data, status, headers, config) {
			// 			// called asynchronously if an error occurs
			// 			// or server returns response with an error status.
			// 		});

			// 	};
			// 	$scope.submitForm = function() {
			// 		console.log($scope.artf);
			// 		 var formData = new FormData();
			// 		 if($scope.files00[0])
			//       	 formData.append('image', $scope.files00[0].lfFile);
			// 		 else
			// 			 formData.append('image', "nochange");
			//       	 formData.append('name',$scope.artf.name);
			//       	 formData.append('desc',$scope.artf.desc);
			//       	 formData.append('code',$scope.artf.code);
			//       	 $http.put('artifactsetting',formData, {
			//	            transformRequest: angular.identity,
			//	            headers: {'Content-Type': undefined}
			//	        })
			//	        .success(function(data) {
			// 	        	  console.log(data);
			// 	        	  $scope.getDataFromServer();
			// 	        	  $scope.artf="";
			// 	        	  $scope.api.removeAll()	
			// 	        	  $('#ui_modal_example_default').modal('hide');
			// 	            }) .error(function(){
			// 	 	        });;
			// 	};
			// 	$scope.updateForm = function() {
			// 		console.log($scope.artff);
			// 		var formData = new FormData();
			// 		if( $scope.files01[0])
			//         	 formData.append('image', $scope.files01[0].lfFile);
			// 			 else
			// 				 formData.append('image', "nochange");
			// 		formData.append('id',$scope.artff.id);	
			//      	 formData.append('name',$scope.artff.name);
			//      	 formData.append('desc',$scope.artff.desc);
			//      	 formData.append('artcode',$scope.artff.artcode);
			//      	 $http.post('artifactsetting',formData, {
			//             transformRequest: angular.identity,
			//             headers: {'Content-Type': undefined}
			//         }).success(function(data) {
			// 	        	  console.log(data);
			// 	        	  $scope.getDataFromServer();
			// 	        	  $scope.artff="";
			// 	        	  $scope.api1.removeAll();	
			// 	        	  $('#ui_modal_update').modal('hide');

			// 	            });
			// 	};
			// 	$scope.deleteForm = function() {
			// 		console.log("delete called");
			// 		$http({
			// 			method : 'GET',
			// 			url : 'qrcodes'
			// 		}).success(function(data, status, headers, config) {
			// 			//$scope.artfs = data;
			// 		}).error(function(data, status, headers, config) {
			// 			// called asynchronously if an error occurs
			// 			// or server returns response with an error status.
			// 		});
			// 	};

			$scope.showoption = function() {
				//console.log('show option clicked');
				logRecord("StartSolvingProblem");
				//	$('#ui_modal_new_session').modal('show');

			};
			// 	$scope.deletefrm = function ( idx ) {
			// 		  var lang = $scope.artfs[idx];
			// 		console.log(idx);
			// 		var dta={ data : idx};
			// 		$http({
			// 	          method  : 'DELETE',
			// 	          url     : 'artifactsetting',
			// 	          data    : dta, //forms user object
			// 	          headers : {'Content-Type': 'application/json'} 
			// 	         })
			// 	          .success(function(data) {
			// 	        	  console.log(data);
			// 	        	  $scope.getDataFromServer();
			// 	        	  //$scope.user="";
			// 	        	 // $('#ui_modal_u').modal('hide');
			// 	            });  
			// 		};

			// 		$scope.setdelete = function ( idx ) {
			// 			  //var lang = $scope.langs[idx];
			// 			//console.log(idx);
			// 			$scope.deleteitm=idx ;
			// 			console.log("id set "+$scope.deleteitm );
			// 			};

			// 			$scope.deletefrm_new = function ( ) {
			//				  //var lang = $scope.langs[idx];
			//				console.log("to be deleted "+ $scope.deleteitm);
			//				var dta={ data : $scope.deleteitm};
			//				$http({
			//			          method  : 'DELETE',
			//			          url     : 'artifactsetting',
			//			          data    : dta, //forms user object
			//			          headers : {'Content-Type': 'application/json'} 
			//			         })
			//			          .success(function(data) {
			//			        	  console.log(data);
			//			        	  $scope.getDataFromServer();
			//			        	  //$scope.user="";
			//			        	 // $('#ui_modal_u').modal('hide');
			//			            });  
			//				};

			//				$scope.clearform = function (){
			//					$('#uname').val("");
			//					$('#desc').val("");
			//					$('#code').val("");
			//					$scope.api1.removeAll();
			//					$scope.api0.removeAll();
			//				};


			//				$scope.textValidator = function(text) {

			//					if(!text){return;}



			//					if (!text.match(/[a-zA-Z]/)) {
			//					 return "This Field must have at least one  letter";
			//				}



			//					return true;
			//				};
		};
		//function sel_start()
		//{
			//logRecordAndJump("Start solving problem");
		//}
		function sel_prevProb()
		{
			logRecord("Your previously solved problems");
		}
		//href="/history/list/1" ;
		function logRecordAndJump(urlString){
	$.post("/api/problem/log", {pageID: window.location.pathname, value: urlString })
          .done(function(data) {
            if (data.includes("success")) {
              //console.log("Data saved ");
			  window.open(urlString, target = "_self");
            }
            else {
              //console.log("Please try again ");
            }
          });
}

function logRecordAndOpen(urlString){
	$.post("/api/problem/log", {pageID: window.location.pathname, value: urlString })
          .done(function(data) {
            if (data.includes("success")) {
              //console.log("Data saved ");
			  window.open(urlString, target = "_blank");
            }
            else {
              //console.log("Please try again ");
            }
          });
}


function logRecord(urlString){
	$.post("/api/problem/log", {pageID: window.location.pathname, value: urlString })
          .done(function(data) {
            if (data.includes("success")) {
              //console.log("Data saved ");
            }
            else {
              //console.log("Please try again ");
            }
          });
} 
	</script>

	<script src="/javascripts/vendor/jquery-2.2.1.min.js"></script>
	<script src="/javascripts/vendor/bootstrap.min.js"></script>
</body>

</html>
