<!DOCTYPE html>
<html>

<head>
    <title>Welcome to MEttLE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <!-- To use bootstrap for styling -->
    <link rel="stylesheet" href="/stylesheets/custom/migrated.css">
    <link rel="stylesheet" href="/stylesheets/custom/login.css">
    <!--<link rel="stylesheet" href="/stylesheets/angular-material.css">-->
     
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
         <!--<link rel="stylesheet" href="/stylesheets/style.css">-->


    <!-- <link rel="stylesheet" href="/stylesheets/introjs.css"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> -->
</head>

<body style="height: 100%;" ng-app="myApp" ng-controller="MyController" ng-cloak>
    
   
    <section class="middlepart">
        <div class="top-section">
            <div class="container-fluid">
                <div class="col-lg-12" style="text-align: center">
                    <div class="top_link"> <a href="#">  Welcome   {{uname}} </a> |  <a href="login/logout">Sign Out</a> </div>
                    <p>Modeling-Based Estimation Learning Environment (MEttLE)</p> 
                    
                </div>
            </div>
        </div>
        <nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
   
    <li><a href="/session">Home</a></li> 
   
  </ul>
 
</nav>
        <div class="register" style="height: 46%;">
            <!--<div class="info" >-->
            <!--    <p > <div style="float:right"> Welcome   {{uname}} </div></p>-->
            <!--</div>+-->
            <div class="container-fluid" style="height: 100%;">
               <div class="row">
                   <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0" > 
                    <table class=" table table-bordered">
                    	<thead>
                    	<tr>
                    		<th>Title</th>
                    		<th>date time</th>
                    		<th>Open</th>
                    	</tr>
                    	</thead>
                    	<tbody>
                    	{{#each list}}
                      
                        	
                       		
                            
                        
        
      
                    	<tr>
                    		<td>{{this.name}}</td>
                    		<td>{{formatDate this.timestamp day="numeric" month="long" year="numeric"}} {{formatTime this.timestamp hour="numeric" minute="numeric"}}</td>
                    		<td><a href="../updlist/{{this.id}}"> Edit Sesssion</a></td>
                    	</tr>
                    	  {{/each}}
                    	  </tbody>
                    </table>
                   
            
      
        
        
  <ul class="pagination">
    {{#paginate pagination type="first"}}
      <li {{#if disabled}} class="disabled"{{/if}}><a href="{{n}}">First</a></li>
    {{/paginate}}
    {{#paginate pagination type="previous"}}
      <li {{#if disabled}} class="disabled"{{/if}}><a href="{{n}}">Prev</a></li>
    {{/paginate}}
    {{#paginate pagination type="middle" limit="7"}}
      <li {{#if active}} class="active"{{/if}}><a href="{{n}}">{{n}}</a></li>
    {{/paginate}}
    {{#paginate pagination type="next"}}
      <li {{#if disabled}} class="disabled"{{/if}}><a href="{{n}}">Next</a></li>
    {{/paginate}}
    {{#paginate pagination type="last"}}
      <li {{#if disabled}} class="disabled"{{/if}}><a href="{{n}}">Last</a></li>
    {{/paginate}}
  </ul>

       </div>
                 
                       
                       
                    </div>
               
            </div>
        </div>
    </section>
    <footer style="position: fixed; bottom: 0; background: #000; width: 100%">
        <p style="color: white; font-size:1em; font-weight: 600;">©2016 IDP in Educational Technology, Indian Institute of Technology Bombay, India</p>
    </footer>
    
    <div aria-hidden="true" class="modal fade" id="ui_modal_new_session" role="dialog" tabindex="-1"
		style="display: none;">
    	 <form name="session-form" id="session_details" action="session/data" method="post">
		<div class="modal-dialog">
			<div class="modal-content">
				
				<div class="modal-heading">
					<a class="modal-close" data-dismiss="modal" ng-click="clearform()">×</a>
					<h2 class="modal-title">attempt title</h2>
				</div>
				<div class="modal-inner">
					{{#if errorOccured}}
                      <div class="alert alert-danger">
                        {{#each errors}}
                            <span style="display: block;">
                              <strong>Error!</strong> {{this}}.
                            </span>
                        {{/each}}
                      </div>
                    {{/if}}
					<div class="control-group">
                      <input type="text" class="login-field" value="" name="title" placeholder="Enter Title for attempt" id="title">
                      <label class="login-field-icon fui-user" for="title"></label>
                    </div>

				</div>
				<div class="modal-footer">
					<button class="btn btn-green waves-attach waves-effect"
								value="submit" name="Submit" ng-click="updateForm()">Submit</button>
							&nbsp;&nbsp;&nbsp; <a
								class="btn btn-red waves-attach waves-light waves-effect"
								onclick="#">Clear</a>
				</div>
			</div>
		</div>
		</form>
	</div>
    
    
    
    <!--<script src="/javascripts/vendor/jquery-2.2.1.min.js"></script>-->
    <!--<script src="/javascripts/vendor/bootstrap.min.js"></script>-->
</body>

</html>
