<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Problem Map- MEttLE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/custom/migrated.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/style.css">
  <link rel="stylesheet" href="/stylesheets/css/style-2.css">
   <script src="/javascripts/vendor/go.js"></script>
   <script src="/javascripts/vendor/Buttons.js"></script>
</head>

<body>
  <section id="middlepart">
    <div class="top-section">
      <div class="row">
        <div class="col-sm-1" style="text-align:center;vertical-align:middle" >
          <img class="hoverable-image" onclick="navigatorInfo()" src="/images/steering-wheel.png" style="max-width:50px;height:auto; margin:12px; filter: invert() drop-shadow(1px 1px 4px rgba(0,0,0,0.4))"/>
        </div>
        <style>
          .hoverable-image:hover{
            opacity: 0.8;
            cursor: pointer;
          }
        </style>
        <div class="col-sm-6"  style="text-align:center;vertical-align:middle" >
          <p>MEttLE</p>
       </div>
		
	  <g onclick="sendSimulatorLog()"> 
      <div class="col-sm-1" style="text-align:center;vertical-align:middle">
        <input id="problem1funcmodel_sim" type="image" src="/images/simulator.png" style="width:110px;height:67px;"/>
      </div>
     </g> 
    
    <g onclick="sendInformationLog()"> 
      <div class="col-sm-1" style="text-align:center;vertical-align:middle">
        <input id="problem1funcmodel_info" type="image" src="/images/info.png" style="width:110px;height:67px;"/>
      </div>
      </g> 
    
    <g onclick="sendScratchLog()"> 
      <div class="col-sm-1" style="text-align:center;vertical-align:middle">
        <input  id="problem1funcmodel_scribble"type="image" src="/images/scribble.png" style="width:110px;height:67px;"/>
      </div>
      </g> 
    
    <g onclick="sendProblemMapLog()"> 
      <div class="col-sm-1" style="text-align:center;vertical-align:middle">
        <input id="problem1funcmodel_map" type="image" src="/images/map.png" style="width:110px;height:67px;"/>
      </div>
      </g> 
      <div class="col-sm-1" style="text-align:center"> <button id="problem1funcmodel_logout" style="margin-top: 8px;height: 50px;" type="button" class="btn btn-default" onclick="sel_logout()">Logout</button></div>
    </div>
  </div>

	
    <div class="register">
      <div class="info">
        <div class="col-lg-8">
              <p>Here is a map of this problem. Click on any of the sub-goals to begin solving the problem.</p></div>
      <div class="col-lg-4">  
            <g onclick="sendprobsmtlog()"><a id="menuTrigger" class="dropdown-toggle" data-toggle="dropdown">Problem Statement</a></g>
           <div id="myMenu">
           You are participating in an electric car race in which you are required to design an electric car of weight 5kg with wheel diameters of 4” that can traverse a track of 50m in less than 5 seconds. <br>Estimate the electrical power needed to achieve this performance.
          </div>
          </div>
     </div>
      <div class="container-fluid">
        <div class="col-lg-12">
          <div class="row activity" style="text-align:center">

            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2520/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="560px"
              height="560px" viewBox="-20 -20 540 540" xml:space="preserve">
              <rect width="500" height="500" fill="#bdbdbd" />
              <g onclick="openfunc();">
                <polygon id="problem1map_func" points="0,250 0,500 250,500" class="task_map" />
               
                 <text x="25" y="440" class="task_text_eg"> What does the car </text>
                  <text x="25" y="460" class="task_text_eg"> need to do </text>
                   <text x="25" y="480" class="task_text_eg"> that requires power? </text>
              </g>

              <g onclick="openqual();">
                <polygon id="problem1map_qual" points="0,0 0,250 250,500 500,500" class="task_map" //>
              <text x="40" y="250" class="task_text_eg"> What are the parameters </text>
                  <text x="40" y="270" class="task_text_eg">that will effect the dominant
                    <tspan x="60" y="290" class="task_text_eg">  mechanical power required? </tspan>
                    
                  <!--<tspan x="100" y="330" class="task_text_eg"> by various parameters? </tspan>-->
                </text>
              </g>

              <g onclick="openquant();">
                <polygon id="problem1map_quant" points="250,0 250,250 500,500 500,250" class="task_map" />
              <text x="320" y="230" class="task_text_eg"> What is equation  </text>
              <text x="320" y="250" class="task_text_eg">  connecting electric </text>
                  <text x="320" y="270" class="task_text_eg"> power required to the
                    <tspan x="320" y="290" class="task_text_eg"> dominant parameters?</tspan>
                    
                  <!--<tspan x="320" y="320" class="task_text_eg"> with other parameters? </tspan>-->
                </text>
              </g>

              <g onclick="opencalc();">
                <polygon id="problem1map_calc" points="0,0 250,250 250,0" class="task_map" />
             
                  <text x="65" y="40" class="task_text_eg"> Substituting reasonable
                    <tspan x="70" y="60" class="task_text_eg"> values in the equation, </tspan>
                    <tspan x="85" y="80" class="task_text_eg"> what is the estimate </tspan>
                    <tspan x="105" y="100" class="task_text_eg"> of power? </tspan>
                  <!--<tspan x="125" y="120" class="task_text_eg"> calculate power. </tspan>-->
                </text>
              </g>
              <g onclick="openeval();">
                <polygon id="problem1map_eval" points="250,0 500,250 500,0" class="task_map" />
               
                  <text x="360" y="40" class="task_text_eg"> Is the estimated 
                    <tspan x="360" y="60" class="task_text_eg"> value of power </tspan>
                    <tspan x="360" y="80" class="task_text_eg"> reasonable? </tspan>
                  <!--<tspan x="360" y="100" class="task_text_eg"> reasonable? </tspan>-->
                </text>
              </g>
            </svg>
          </div>
        </div>
      </div>
  </section>
  <!-- modal for explanation -->
      <div aria-hidden="true" class="modal fade" data-backdrop="false" id="ExplnModal" role="dialog" tabindex="-1" >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-heading">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h2 class="modal-title">Explain your thoughts</h2>
            </div>
            <div class=" medium_margin"> Why did you choose this sub-goal first? </div>
            <div style="margin:20px"><textarea id="explain0" class="form-control input-large " rows="5">{{answerData.[0]}}</textarea>
            </div>
            <div class="modal-body" style="float:center">
              <button type="button" class="btn btn-primary" onclick="logRecordAndJump(desturl)">Continue</button>
            </div>
          </div>
        </div>
    </div>
</body>

 <script src="/javascripts/vendor/jquery-2.2.1.min.js"></script>
  <script src="/javascripts/vendor/bootstrap.min.js"></script>
  <script src="/javascripts/vendor/pnotify.custom.min.js"></script>
  <script src="/javascripts/vendor/common.js"></script>


<script>
  // open problem statement
mnuOut=false;
$('#menuTrigger').click(function(){
  if (mnuOut){
      //Menu is visible, so HIDE menu
      $('#myMenu').animate({
        right: '-200px'
      },800);
      mnuOut = false;
  }else{
      //Menu is hidden, so SHOW menu
      $('#myMenu').animate({
        right: 0
      },800);
      mnuOut = true;
  }
}) 
var windows=[];
var bc = new BroadcastChannel('logoff_channel');
bc.onmessage =  function(event){
  if (event.data=='logoff')
  {
    sel_logout();
  }
}

//automatically save and share explanation
$("#explain0").keyup(function() { 
socket.emit('Driver-submit-question', {
      text: $("#explain0").val()
    });
});

//automatically save and share explanation
$("#explain0").focusout(function() { 
    submiQuestion("0", $("#explain0").val());
});

var desturl = " ";
function explanation(url){
  $('#ExplnModal').modal("show");
  desturl = url; //.replace("role", "Driver");
}

function submiQuestion(pk, value) {
      $.post("/api/problem/answer", { pk: pk, pageID: window.location.pathname, value: value })
        .done(function(data) {
          if (data.includes("success")) {
            //console.log("Data saved ");
          }
          else {
            //console.log("Please try again ");
          }
        });
    }

function navigatorInfo(){}
  

function sendSimulatorLog(){
   windows.push(window.open("/simulator", '_blank'));
  logRecord('/simulator');
}

function sendInformationLog(){
  windows.push(window.open("/information", '_blank'));
  logRecord('/Information')
}

function sendScratchLog(){
  windows.push(window.open("/problem/1/scribble", '_blank'));
  logRecord('/scribble')
}

function sendProblemMapLog(){
  windows.push(window.open("/aboutproblem", '_blank'));
  logRecord('/Problem_Map')
}

function sel_logout(){
  for(var i = 0; i < windows.length; i++){
    windows[i].close()
  }
  logRecord('/Logout');
  window.open("/logout", '_self');
}

function sendprobsmtlog(){
  logRecord('View_prob_smt');
}  

  function openfunc() {
  explanation("/problem/1/tasks/role/functional/model/main")
}

function openqual() {
  explanation("/problem/1/tasks/role/qualitative/model")
  }

function openquant() {
  explanation("/problem/1/tasks/role/quantitative/model")
}

function opencalc() {
  explanation("/problem/1/tasks/role/calculation/calculation")
}

function openeval() {
  explanation("/problem/1/tasks/role/evaluation/evaluation")
}

function check(url){
  //console.log("in check map for url");
  url = checkURL(url);
  //console.log(url);
  explanation(url);
}

function logRecord(urlString){
	$.post("/api/problem/log", {pageID: window.location.pathname, value: urlString })
          .done(function(data) {
            if (data.includes("success")) {
              //console.log("Data saved ");
              //console.log("INLOGRECORD ---- FTER CLINKING BEGIN SLOVING ?");
            }
            else {
              //console.log("Please try again ");
            }
          });
} 

function logRecordAndJump(urlString){
  //urlString = $.checkURL(urlString);
  // console.log("in logrecord");
  // $.getscript("routes/api.js",function(){
  //   console.log("in get script");
  // urlString = checkURL(urlString);
  // });
	$.post("/api/problem/log", {pageID: window.location.pathname, value: urlString })
          .done(function(data) {
            if (data.includes("success")) {
              //console.log("data saved");
              //console.log(JSON.parse(data).role);
			        window.open(urlString.replace("role",JSON.parse(data).role), target = "_self");
            }
            else {
              //console.log("Please try again ");
            }
          });
          //console.log("################################################################" + urlString);
  //if(urlString.includes("role")){
    //urlString.replace("role", "Driver");
    //console.log(urlString);
  //}
}

function logRecordAndOpen(urlString){
	$.post("/api/problem/log", {pageID: window.location.pathname, value: urlString })
          .done(function(data) {
            if (data.includes("success")) {
              //console.log("Data saved ");
			  window.open(urlString, target = "_blank");
            }
            else {
              //console.log("Please try again ");
            }
          });
}
</script>
