<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Problem solving method-MEttLE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/custom/migrated.css">
   <script src="/javascripts/vendor/go.js"></script>
   <script src="/javascripts/vendor/Buttons.js"></script>
   <script src="/javascripts/vendor/jquery-2.2.1.min.js"></script>
  <!-- <link rel="stylesheet" href="/stylesheets/introjs.css"> -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> -->
</head>

<body>
  <section id="middlepart">
    <div class="top-section">
      <!-- defines the top-section containg the buttons for calculator,simulator,info center, scribble pad and problem map and logout -->
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3" style="text-align: center; vertical-align: middle">
					<p>MEttLE</p>
				</div>
        <!-- In the above 12 lines images are being used for the various options and they are made to look like buttons and the anchor tag is added to load the appropriate pages-->
        <div class="col-sm-1 col-sm-offset-2" style="text-align:center; vertical-align: middle"> <a href="/logout"><button id="problem1quantmodel_logout" type="button" class="btn btn-default" style="margin-top: 0px">Logout</button></a></div>
      </div>
    </div>
    <div class="register">
      <div class="info">
        <p> How do we solve estimation problems? </p>
      </div>
      <div class="container-fluid">
        <div class="col-lg-12">
          <div class="row" style="text-align:center; margin-top: 0px;">
            <video id="problemstructure_controls" width="800" height="450" controls>
              <source src="/videos/problem_overview.mp4" type="video/mp4">
            </video>
          </div>
          <div class="row" style="text-align:center">
            <a href="/problem/1/details"><button id="problemstructure_more" type="button" class="btn btn-primary" onClick="sel_learnmore()">Click here to learn more.</button></a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <script>
  function sel_learnmore()
  {
  	logRecord("problemstructure_learnmore");
  }
  
  function logRecordAndJump(urlString){
	$.post("/api/problem/log", {pageID: window.location.pathname, value: urlString })
          .done(function(data) {
            if (data.includes("success")) {
              //console.log("Data saved ");
			  window.open(urlString, target = "_self");
            }
            else {
              //console.log("Please try again ");
            }
          });
}

function logRecordAndOpen(urlString){
	$.post("/api/problem/log", {pageID: window.location.pathname, value: urlString })
          .done(function(data) {
            if (data.includes("success")) {
              //console.log("Data saved ");
			  window.open(urlString, target = "_blank");
            }
            else {
              //console.log("Please try again ");
            }
          });
}


function logRecord(urlString){
	$.post("/api/problem/log", {pageID: window.location.pathname, value: urlString })
          .done(function(data) {
            if (data.includes("success")) {
              //console.log("Data saved ");
            }
            else {
              //console.log("Please try again ");
            }
          });
} 
  </script>
</body>
